.robot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.t{
  clear: both;
}
.divNao {
  float:right;
  text-align: center;
  width: 50%;
}

.imgNao {
  width: 50%;	
}

.divPepper {
  float:left;
  text-align: center;
  width: 50%;
}

.imgPepper {
  width: 50%;	
}


.form1{
	display: inline-block ;

}


/*pour le tableau*/
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.espace{
  height: 20px;
}


/*pour le bouton plus d'info******************************************/
div.spoilerPepper {
  float:left;
  text-align: center;
  width: 50%;
}

div.spoilerNao {
  float:right;
  text-align: center;
  width: 50%;
}
 
input.boutonSpoiler {
    position: center;
    
  font-size: x-small;
}
 
 div.contenuSpoiler {
    display: none;
}
/***************************************************************/